.background main {
  margin: 0 !important;
  height: 100%;
}
main.default-transition {
  transition: margin-left 0.3s;
}
.kd_bg {
  background: url(https://performance.khojdeal.com/img/login-background.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.left-container {
  position: absolute;
  z-index: 1;
  left: 17%;
  top: 12%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.flex-d {
  position: absolute;
  top: 50%;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.flex-d .btn {
  vertical-align: top;
  align-self: center;
  justify-content: center;
  position: fixed;
  right: 9%;
  height: 59px;
  padding: 10px;
  display: flex;
  font-size: 26px;
  float: left;
  width: 320px;
}
button.btn.btn-danger.btn-lg.mb-1:hover {
  background-color: #c9303e !important;
}
.btn-group-lg > .btn,
.btn-lg {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.75rem 2.6rem 0.6rem;
}
.btn-danger,
.btn-danger:hover,
.btn-info,
.btn-info:hover,
.btn-outline-danger:hover,
.btn-outline-info:hover,
.btn-outline-success:hover,
.btn-outline-warning:hover,
.btn-success,
.btn-success:hover,
.btn-warning,
.btn-warning:hover {
  color: #fff;
}
.btn-group-lg > .btn,
.btn-group-sm > .btn,
.btn-lg {
  border-radius: 50px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
/* Global Css */
.text-center{
  text-align: center;
}
.bg-main{
  background-color: #ec0a71;
}
.bg-light{
  background-color: #fff;
}
.text-light{
  color:#fff;
}

